.idea/*
data/*
logs/*
newT.txt
nms/*
nms_/*
roialign/*
roialign/roi_align/build.py
roialign/roi_align/crop_and_resize.py
__pycache__/*
wandb/*
mask_rcnn_c4.py
output/*
det.py
runs/*
newP.py
coco_eval.py
coco_utils.py
engine.py
utils_vision.py
CocoDataset.py
*.ipynb
tv-training-code.py
torch_out/
